<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <!-- meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Star Admin</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="shortcut icon" href="../static/images/favicon.png" />
    <script src="https://unpkg.com/popper.js@1"></script>
    <script src="https://unpkg.com/tippy.js@5"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://kit.fontawesome.com/72064b806a.js" crossorigin="anonymous"></script>

    <!-- Slick Carrossel -->
    <link rel="stylesheet" type="text/css" href="../static/js/meuJs/slick-1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="../static/js/meuJs/slick-1.8.1/slick/slick-theme.css"/>


    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/style.css" />
    <link rel="stylesheet" href="../static/css/meuCss/estilo.css" />
  </head>
  
<body>
  <div class="container-scroller">
    <nav class="navbar navbar-default col-lg-12 col-12 p-0 fixed-top d-flex flex-row" id="template_navbar"></nav>
    <!-- partial -->
    <div class="container-fluid">
      <div>
        <!-- partial:partials/_sidebar.html -->
        <nav class="bg-white" id="sidebar"></nav>
        <!-- partial -->
        <div>
          <h1 id="titulo_pedido"></h1>
          <button type="button" class="btn btn-primary" data-toggle="modal" id="btn_modal" data-target="#modal_cadastro_produtos">
            Cadastro Produtos          
          </button>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal_contatos">
            Cadastro Fornecedores          
          </button>
        </div>
        <!-- partial:partials/_footer.html -->
        <footer class="rodape">
          <div class="clearfix">
            <span class="float-right">
                <a href="#">edsontomasdev</a> &copy; 2023
            </span>
          </div>
        </footer>
      </div>
    </div>
      <div id="template_modal"></div>
      <div id="modal_categoria"></div>
      <div id="modal_tamanho"></div>
      <div id="modal_alergenos"></div>
      <div id="div_modal_fornecedores"></div>
      <div id="div_modal_contato_fornecedores">

      </div>
    </div>
  </div>

  <script src="../static/js/meuJs/utils/valida_cnpj_cpf.js"></script>
  <script src="../static/js/meuJs/utils/busca_cep.js"></script>
  <script src="../static/js/meuJs/utils/valida_cep.js"></script>
  <script src="../static/js/meuJs/utils/limpa_form.js"></script>
  <script src="../static/js/meuJs/utils/mascara_telefone.js"></script>
  <script src="../static/js/meuJs/utils/pega_click_tabela.js"></script>
  <script src="../static/js/meuJs/utils/limpa_tabelas.js"></script>
  <script src="../static/js/meuJs/utils/popula_select.js"></script>
  <script src="../static/js/meuJs/utils/popula_tbody.js"></script>
  <script src="../static/js/meuJs/utils/abri_modal.js"></script>


  <script src="../static/js/meuJs/produtos/cnpj_fornecedores.js"></script>

  <script src="../static/js/meuJs/carrega_navbar.js"></script>
  <script src="../static/js/meuJs/carrega_sidebar.js"></script>

  <script src="../static/js/meuJs/cadastro_produtos.js"></script>

  <script src="../static/js/meuJs/modal_categoria.js"></script>
  <script src="../static/js/meuJs/modal_tamanhos.js"></script>,
  <script src="../static/js/meuJs/modal_alegernos.js"></script>
  <script src="../static/js/meuJs/modal_fornecedores.js"></script>
  <script src="../static/js/meuJs/modal_contato_fornecedores.js"></script>


  <script src="../static/js/meuJs/tamanho/tamanho.js"></script>
  <script src="../static/js/meuJs/tamanho/add_tamanho.js"></script>
  <script src="../static/js/meuJs/tamanho/delete_tamanho.js"></script>  
  <script src="../static/js/meuJs/tamanho/tabela_tamanho.js"></script>

  <script src="../static/js/meuJs/alergenos/add_alergenos.js"></script>
  <script src="../static/js/meuJs/alergenos/delete_alergenos.js"></script>
  <script src="../static/js/meuJs/alergenos/alergenos.js"></script>
  <script src="../static/js/meuJs/alergenos/tabela_alergenos.js"></script>  

  <script src="../static/js/meuJs/fornecedores/fornecedores.js"></script>
  <script src="../static/js/meuJs/fornecedores/input_cep.js"></script>
  <script src="../static/js/meuJs/fornecedores/txt_cnpj_cpf.js"></script>
  <script src="../static/js/meuJs/fornecedores/input_nome_razao.js"></script>
  <script src="../static/js/meuJs/fornecedores/modal_fornecedores.js"></script>
  
  <script src="../static/js/meuJs/contatos/contatos.js"></script>
  <script src="../static/js/meuJs/contatos/select_tipo_contato.js"></script>
  <script src="../static/js/meuJs/contatos/inpt_contato.js"></script>
  <script src="../static/js/meuJs/contatos/add_contatos.js"></script>
  <script src="../static/js/meuJs/contatos/table_contatos.js"></script>

  <script src="../static/js/meuJs/categorias/categorias.js"></script>
  <script src="../static/js/meuJs/categorias/tabela_categorias.js"></script>
  <script src="../static/js/meuJs/categorias/add_categorias.js"></script>
  <script src="../static/js/meuJs/categorias/delete_categorias.js"></script>
  <script src="../static/js/meuJs/categorias/carrega_categorias.js"></script>

  <script src="../static/js/meuJs/produtos/cmb_categorias.js"></script>
  <script src="../static/js/meuJs/produtos/cmb_tamanhos.js"></script>
  <script src="../static/js/meuJs/produtos/cmb_alergennos.js"></script>
  <script src="../static/js/meuJs/produtos/btn_add_alergenos.js"></script>
  <script src="../static/js/meuJs/produtos/btn_add_tamanho.js"></script>
  <script src="../static/js/meuJs/produtos/btn_salvar_produto.js"></script>
  <script src="../static/js/meuJs/produtos/remove_item_dicionario.js"></script>

  <script src="../static/js/meuJs/utils/form_to_dicionario.js"></script>
  <script src="../static/js/meuJs/utils/alertas.js"></script>
  <script src="../static/js/meuJs/utils/conexao.js"></script>
  <script src="../static/js/meuJs/utils/load_pagina.js"></script>
  <script src="../static/js/meuJs/utils/inserir_classe_campo_erro.js"></script>
  <script src="../static/js/meuJs/utils/remover_classe_campo_erro.js"></script>

  <script src="../static/js/meuJs/mesa/pedido_mesa.js"></script>


  <script src="../static/js/meuJs/imagem.js"></script>

  <script src="../static/js/cadastros/component/categorias.js"></script>
  <script src="../static/js/cadastros/teste.js"></script>

  <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script type="text/javascript" src="../static/js/meuJs/slick-1.8.1/slick/slick.min.js"></script>  
</body>

</html>
