<!doctype html>
<html lang="pt">
  <head>
  	<title>MesaDigital - O Poder da Gestão Eficiente para Bares e Restaurantes.</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		
    <link rel="stylesheet" type="text/css" href="./css/meuCss/estilo.css"/>
    <link rel="stylesheet" type="text/css" href="./js/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="./js/slick/slick-theme.css"/>

    <!-- SweetAlert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="./css/meuCss/estilo.css"/>

  </head>
  <body>
		
		<div class="wrapper d-flex">
			<nav id="sidebar">
    	</nav>
     
      <!-- Page Content  -->
      <div id="content" class="p-4 p-md-5 pt-5">
        <div class="carrossel_categorias" id="div_carrossel_categorias">
        </div>
        <h4 class="titulo-pedido" id="titulo_pedido"></h4>
        <div class="table-responsive" id="relacao_pedidos">
          <table class="table">
            <thead>
              <tr>
                <th scope="col" class="d-none d-sm-table-cell">Id</th>
                <th scope="col">Descrição</th>
                <th scope="col">Qtde</th>
                <th scope="col" class="d-none d-sm-table-cell">Preço Unitário</th>
                <th scope="col">Total</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody id="tbody_itens_pedido">
            </tbody>
          </table>      
        </div>
      </div>
      <div id="div_modal_pedidos" ></div>
      <div id="div_modal_codigo_produto" ></div>
      <div class="floating-buttons">
        <div class="row">
          <div class="col-12">
            <table class="table mt-3 ml-3 mr-3 ">
              <thead>
                <tr>
                  <td><button class="btn btn-info redondo" onclick="abrir_modal_gera_pedidos_codigo_produto()"><i class="fa fa-barcode" aria-hidden="true"></i>
                  </button></td>

                  <td id="subtotal" >R$ 0,00</td>
                  <td id="fechar_mesa"  onclick="impressao()"><button class="btn btn-outline-info">Fechar Mesa</button></td>
                </tr>
              </thead>
              <tbody id="tbody_itens_pedido">
              </tbody>
            </table>  
          </div>
        </div>
      </div>
    </div>          
		</div>
    <script type="text/javascript" src="./js/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="./js/jquery-migrate-1.2.1.min.js"></script> 
    <script src="./js/meuJs/pedidos/Classe_Estoque.js"></script>
    <script src="./js/meuJs/pedidos/Classe_Pedidos.js"></script>
    <script src="./js/meuJs/pedidos/Classe_Item.js"></script>
    <script src="./js/meuJs/pedidos/carrossel_categorias.js"></script>
    <script src="./js/meuJs/pedidos/pedidos.js"></script>
    <script src="./js/meuJs/pedidos/modal_pedidos.js"></script>

    <script src="./js/popper.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/main.js"></script>
    <script src="./js/meuJs/utils/menu.js"></script>
    <script src="./js/meuJs/utils/alertas.js"></script>
    <script src="./js/meuJs/utils/popula_tbody.js"></script>
    <script type="text/javascript" src="./js/slick/slick.min.js"></script>
  </body>
</html>