<!doctype html>
<html lang="pt">
  <head>
  	<title>MesaDigital - O Poder da Gestão Eficiente para Bares e Restaurantes.</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		
    <link rel="stylesheet" type="text/css" href="./css/meuCss/estilo.css"/>
    <link rel="stylesheet" type="text/css" href="./js/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="./js/slick/slick-theme.css"/>

    <!-- SweetAlert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="css/style.css">
  </head>
  <body>
		
		<div class="wrapper d-flex">
			<nav id="sidebar">
    	</nav>
     
      <!-- Page Content  -->
      <div id="content" class="p-4 p-md-5 pt-5">
        <div class="carrossel_categorias" id="div_carrossel_categorias">
        </div>
        <div class="table-responsive" id="relacao_pedidos">
          <table class="table">
            <thead>
              <tr>
                <th scope="col" class="d-none d-sm-table-cell">Id</th>
                <th scope="col">Descrição</th>
                <th scope="col">Quantidade</th>
                <th scope="col" class="d-none d-sm-table-cell">Preço Unitário</th>
                <th scope="col">Preço Total</th>
                <th scope="col"></th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody id="tbody_itens_pedido">
              </tr>
            </tbody>
          </table>      
          <button id="teste" class="btn btn-primary" >OK</button>
        </div>
      </div>
      <div id="div_modal_pedidos" ></div>
      <div class="floating-buttons">
        <table class="table mt-3 ml-3 mr-3 ">
          <thead>
            <tr>
              <th scope="col">Parcial</th>
              <th scope="col">Geral</th>
            </tr>
            <tr>
              <td>R$ 35,50</td>
              <td>R$ 35,50</td>
            </tr>
          </thead>
          <tbody id="tbody_itens_pedido">
            </tr>
          </tbody>
        </table>  
      </div>
    </div>          
		</div>
    <script type="text/javascript" src="./js/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="./js/jquery-migrate-1.2.1.min.js"></script> 
    <script src="./js/meuJs/pedidos/estoque.js"></script>
    <script src="./js/meuJs/pedidos/carrossel_categorias.js"></script>
    <script src="./js/meuJs/pedidos/pedidos.js"></script>

    <script src="./js/popper.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/main.js"></script>
    <script src="./js/meuJs/utils/menu.js"></script>
    <script src="./js/meuJs/utils/alertas.js"
    <script src="./js/meuJs/utils/popula_tbody.js"></script>
    <script type="text/javascript" src="./js/slick/slick.min.js"></script>
  </body>
</html>