<!doctype html>
<html lang="pt">
  <head>
  	<title>Sidebar 04</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		
    <link rel="stylesheet" type="text/css" href="./css/meuCss/estilo.css"/>
    <link rel="stylesheet" type="text/css" href="./js/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="./js/slick/slick-theme.css"/>

    <!-- SweetAlert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


    <link href="./js/bootstrap.min.js" rel="stylesheet">
    <script src="./js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="css/style.css">
  </head>
  <body>
		
		<div class="wrapper d-flex">
			<nav id="sidebar">
				<div class="custom-menu">
					<button type="button" id="sidebarCollapse" class="btn btn-primary">
	          <i class="fa fa-bars"></i>
	          <span class="sr-only">Toggle Menu</span>
	        </button>
        </div>
	  		<h1><a href="index.html" class="logo">Project Name</a></h1>
        <ul class="list-unstyled components mb-5">
          <li class="active">
            <a href="#"><span class="fa fa-home mr-3"></span> Homepage</a>
          </li>
          <li>
              <a href="#"><span class="fa fa-user mr-3"></span> Dashboard</a>
          </li>
          <li>
            <a href="#"><span class="fa fa-sticky-note mr-3"></span> Friends</a>
          </li>
          <li>
            <a href="#"><span class="fa fa-sticky-note mr-3"></span> Subcription</a>
          </li>
          <li>
            <a href="#"><span class="fa fa-paper-plane mr-3"></span> Settings</a>
          </li>
          <li>
            <a href="#"><span class="fa fa-paper-plane mr-3"></span> Information</a>
          </li>
        </ul>
    	</nav>
      
      <!-- Page Content  -->
      <div id="content" class="p-4 p-md-5 pt-5">
        <div class="carrossel_categorias">
            <div class="card mb-3 car-categoria" data-id="cervejas" onclick="abrir_modal_gera_pedidos(this)" >
                <div class="row g-0">
                  <div class="col-md-12">
                    <div class="card-body">
                        <p class="card-text"><small class="text-primary">Cervejas</small></p>
                    </div>
                  </div>
                </div>
            </div>
            <div class="card mb-3 car-categoria" data-id="pizzas" onclick="abrir_modal_gera_pedidos(this)"">
                <div class="row g-0">
                  <div class="col-md-12">
                    <div class="card-body">
                        <p class="card-text"><small class="text-primary">Pizzas</small></p>
                    </div>
                  </div>
                </div>
            </div>
            <div class="card mb-3 car-categoria" onclick="abrir_modal_gera_pedidos(this)">
                <div class="row g-0">
                  <div class="col-md-12">
                    <div class="card-body">
                        <p class="card-text"><small class="text-primary">Pratos Frios</small></p>
                    </div>
                  </div>
                </div>
            </div>   
            <div class="card mb-3 car-categoria" onclick="abrir_modal_gera_pedidos(this)">
                <div class="row g-0">
                  <div class="col-md-12">
                    <div class="card-body">
                        <p class="card-text"><small class="text-primary">Sucos e refrigerantes</small></p>
                    </div>
                  </div>
                </div>
            </div>
            <div class="card mb-3 car-categoria" onclick="abrir_modal_gera_pedidos(this)">
                <div class="row g-0">
                  <div class="col-md-12">
                    <div class="card-body">
                        <p class="card-text" ><small class="text-primary">Sobremesas</small></p>
                    </div>
                  </div>
                </div>
            </div>
            <div class="card mb-3 car-categoria" onclick="abrir_modal_gera_pedidos(this)">
                <div class="row g-0">
                  <div class="col-md-12">
                    <div class="card-body">
                        <p class="card-text"><small class="text-primary">Salgados</small></p>
                    </div>
                  </div>
                </div>
            </div>                
        </div>
        <div class="table-responsive" id="relacao_pedidos">
          <table class="table">
            <thead>
              <tr>
                <th scope="col" class="d-none d-sm-table-cell">Id</th>
                <th scope="col">Descrição</th>
                <th scope="col" class="d-none d-sm-table-cell">Preço Unitário</th>
                <th scope="col">Preço Total</th>
                <th scope="col"></th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody id="tbody_itens_pedido">
              </tr>
            </tbody>
          </table>      
        </div>

      </div>
      <div id="div_modal_pedidos"></div>
    </div>          
		</div>
    <script type="text/javascript" src="./js/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="./js/jquery-migrate-1.2.1.min.js"></script>    
    <script src="./js/popper.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/main.js"></script>
    <script src="./js/meuJs/pedidos/pedidos.js"></script>
    <script src="./js/meuJs/utils/popula_tbody.js"></script>
    <script type="text/javascript" src="./js/slick/slick.min.js"></script>
  </body>
</html>