<!doctype html>
<html lang="pt">
  <head>
  	<title>MesaDigital - O Poder da Gestão Eficiente para Bares e Restaurantes.</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		
    <link rel="stylesheet" type="text/css" href="./css/meuCss/estilo.css"/>
    <link rel="stylesheet" type="text/css" href="./js/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="./js/slick/slick-theme.css"/>

    <!-- SweetAlert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="css/style.css">
  </head>
  <body>
		
    <div class="wrapper d-flex">
        <nav id="sidebar">
        </nav>
        <!-- Page Content  -->
        <div id="content" class="p-4 p-md-5 pt-5">
            <div class="row" id="div_atendimento">
            </div>
        </div>
    </div>

    <script type="text/javascript" src="./js/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="./js/jquery-migrate-1.2.1.min.js"></script>    
    <script src="./js/popper.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/main.js"></script>
    <script src="./js/meuJs/mesa/gera_mesas.js"></script>
    <script src="./js/meuJs/utils/menu.js"></script>
    <script type="text/javascript" src="./js/slick/slick.min.js"></script>
  </body>
</html>