.campo-erro {
    border: 1px solid #ff0000; /* Cor vermelha */
    background-color: #ffeeee; /* Cor de fundo de destaque */
    color: #ff0000; /* Cor do texto vermelho (opcional) */
  }


  .linha{
    size: 150px;
  }

  #fechar_mesa{
    cursor: pointer;
  }

  .qtde_produtos{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 40px;
    max-height: 40px;
  }

  .fab_impressao{
    position: fixed;
    bottom:50px;
    right:60%;
    z-index: 1001;

  }

   
  .fab_impressao button{
    cursor: pointer;
    width: 48px;
    height: 48px;
    border-radius: 30px;
    background-color: #cb60b3;
    border: none;
    box-shadow: 0 1px 5px rgba(0,0,0,.4);
    font-size: 24px;
    color: white;
      
    -webkit-transition: .2s ease-out;
    -moz-transition: .2s ease-out;
    transition: .2s ease-out;
  }
  

  .capitalizado {
    text-transform: capitalize;
    font-size: larger;
    font-weight: bold;
    /* color:black; */
  }

  .floating-buttons {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
  }

  .floating-buttons table {
      /* background-color: #fff;
      color: white; */
      border: none;
      border-radius: 5px;
      font-size: 20px;
      font-weight: bold;
  }

  .floating-buttons table td {
    background-color: #fff;
    color: black;
    border: none;
    border-radius: 5px;
    font-size: 16px;
  }

  .redondo{
    width: 40px;
    height: 40px;
    border-radius: 30px;
    bottom: 0px;
  }


  .btn-qtde-produtos{
    max-width: 40px;
    max-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
  }

  .btn-add-exc-produtos{
    max-width: 15px;
    max-height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
  }

  .mesa {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0px 0px 2px 1px rgba(129, 129, 129, 0.2);
    margin:5px;
    max-width: 40%;
  }

  .car-categoria{
    margin: 1px;
    max-width: 540px;
    white-space: nowrap; /* Impede que o conteúdo seja quebrado em várias linhas */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 26;

  }

  .navbar{
    max-height: 10px;
  }

  .em-uso{
    background-color: cyan;
  }

  .mesa-ocupada{
    background-color: #007bff;
    font-weight: bold;
    color: #fff;
  }

  .mesa-ocupada a{
    background-color: #007bff;
    color:white; 

  }

  .fab {
    position: fixed;
    top: 3%;
    /* left: 20%; */
    z-index: 1000;
  }

  .fab button{
    cursor: pointer;
    width: 48px;
    height: 48px;
    border-radius: 30px;
    background-color: #007bff;
    border: none;
    box-shadow: 0 1px 5px rgba(0,0,0,.4);
    font-size: 24px;
    color: white;
  }

  .scrollable-div {
    overflow-x: auto;
    white-space: nowrap; /* Evita que o conteúdo quebre em várias linhas */
  }



  .token-mesa{
    font-size: 10px;
    display: flex;
  }

  .class-container{
    margin-top: 60px;
    max-height: 500px;
    padding-left: 10%;
    padding-right: 10%;
  }


  .rodape{
    padding: 10%;
  }

  .titulo-pedido{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;    
    font-weight: bold;
  }

  .modal-body {
    max-height: 450px; /* Defina a altura máxima para o scroll funcionar */
    overflow-y: auto; /* Isso habilita a barra de rolagem vertical quando o conteúdo ultrapassa a altura máxima */
  }

.modal-xxl .modal-dialog {
  max-width: 1500px; /* Define a largura máxima do modal */
  width: 90%; /* Ajusta a largura do modal */
  z-index: 1; /* Este elemento estará acima do outro elemento */
}

/* .bg-fundo{
  background-color: #FEFAE0;
} */

/* .bg-primaria{
  background-color: #5F6F52;
}

.bg-primaria h1{
  background-color: #5F6F52;
  color:#fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;    
  font-weight: bold;

} */


/* 
.secundario{
  background-color: #A9B388;
}

.bg-botao{
  background-color: #B99470;
}

.tabela-scrolavel {
  max-height: 200px;
  overflow-y: auto;
} */